<?xml version="1.0"?>
<model>
    <name>mrsim-tilthex</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Martin Jacquet</name>
        <email>martin.jacquet@laas.fr</email>
    </author>

    <description>
        A tilted-propeller hexarotor (alpha=20 degrees, beta=0).
    </description>
</model>
