<?xml version="1.0"?>
<model>
    <name>livox-mid360</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Martin Jacquet</name>
        <email>martin.jacquet@inria.fr</email>
    </author>

    <description>
        A livox mid360 lidar.
    </description>
</model>
