<?xml version="1.0"?>
<model>
    <name>ee</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Martin Jacquet</name>
        <email>martin.jacquet@inria.fr</email>
    </author>

    <description>
        An end-effector on a stick, with 3-spheres contact. 
    </description>
</model>
