<?xml version="1.0"?>
<model>
    <name>cam_d455</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Martin Jacquet</name>
        <email>martin.jacquet@inria.fr</email>
    </author>

    <description>
        A depth camera with realsense D455 specs.
    </description>
</model>
